#charCount {
    padding: 0px 0px 0px 20px;
}

#hashtagError {
    padding: 0px 0px 0px 650px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #ffe0b2;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #c2185b;
    box-shadow: 0 1px 0 0 #c2185b;
}
